@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Outfit:wght@300;500;700&family=Playfair+Display:ital,wght@1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-serif: "Playfair Display", serif;
  --color-brand-bg: transparent;
  --color-brand-accent: #FFFFFF;
  --color-brand-text: #A1A1AA;
  --color-brand-muted: #52525B;
  --color-border-subtle: rgba(255, 255, 255, 0.05);
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
  ::selection {
    background-color: white;
    color: black;
  }
  
  .theme-light {
    --color-white: #050505;
    --color-black: #ffffff;
    --color-brand-accent: #050505;
    --color-brand-text: #3f3f46;
  }
}

@layer components {
  .noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.02;
    z-index: 50;
    pointer-events: none;
    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  }

  .grid-bg {
    background-size: 60px 60px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.02) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(255,255,255,0.02) 1px, transparent 1px);
  }
}
